
  <nav>
    <div class="logo">
   <img src="../../assets/logo.png" style="width: 120px;height: 50px;">
  </div>

<ul>
<li><br><a href="#">Home</a></li>
<li><br><a routerLink="/login" >Login</a></li>
<li><br><a href="https://bewireless-solutions.com/">About BWS</a></li>

</ul>
<div class="menu-bars" id="toggle">
<input type="checkbox">
<span></span>
<span></span>
<span></span>
</div>
</nav>
<body>
<div id="form-container"class="container">

  <div class="form-login">
      <h4>Reset Password</h4>
      <br>
<dx-form          [formData]="form"

id="form"
>



<dxi-item dataField="email"
 editorType="dxTextBox" id="email" type="text"
  [editorOptions]="{ stylingMode: 'filled', placeholder: 'your email'}">
  <dxi-validation-rule
  type="required"
  message="Email is required">
</dxi-validation-rule>
<dxi-validation-rule
  type="email"
  message="Email is invalid">
</dxi-validation-rule>
<!--  <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>-->
  <dxo-label [visible]="false"></dxo-label>
</dxi-item>




</dx-form>
<br>
<br>

&nbsp;&nbsp;
<dx-button
icon="email"
type="success"
text="Send"
(onClick)="save()"
id="log">
</dx-button><br><br>

</div>


</div>
<div class="footer-copyright text-center py-3"><b> © 2021 Copyright:
  Wifek Younes & Fares lamloum</b>
</div>
</body>



